html, body {
  font-family: "news-gothic-std", sans-serif; //weights: 400 (normal/italic), 700
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
  font-kerning: normal;
}



.container {
  width: 480px;
  padding-right: 250px;
  margin: $dist-huge*2 auto;
  position: relative;
  @include tablet-phone {
    margin-top: 0;
    padding: 18px;
    padding-top: 9.0rem;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  @include tablet {
    width: 85%;
  }
  @include phone {
    width: 100%;
  }
}

.key-note {
  padding: $dist-reg 0 $dist-reg 0;
  margin: $dist-big 0 $dist-big 0;
  position: relative;
  left: 2*$dist-huge;
  @include tablet-phone {
    // because red box is overlapping text
    margin-left: 10px;
    margin-right: 10px;
    left: 0;
  }
}

.round-img {
    -webkit-border-radius: 50%; // Safari 3-4, iOS 1-3.2, Android 1.6-
     -moz-border-radius: 50%;  // Firefox 1-3.6
          border-radius: 50%; // Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

.center-cntnt {
  text-align: center;
}

.left-indent {
  position: relative;
  left: 2*$dist-huge - 10px; //because other red indented elements have +10px additional border
  @include tablet-phone {
    left: 0;
  }
}



.author-wrap {
  border-top: 1px solid $primary-grey;
  margin-top: $dist-big;
  padding-top: $dist-reg;

  img {
    margin: $dist-reg 0 $dist-reg 0;
    width: 200px;
    height: 200px;
  }
}