html, body {
  font-family: "news-gothic-std", sans-serif; //weights: 400 (normal/italic), 700
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
  font-kerning: normal;
}



.container {
  width: 480px;
  padding-right: 250px;
  margin: $dist-huge auto;
  position: relative;
  @include tablet-phone {
    margin-top: 0;
    padding: 18px;
    @include box-sizing(border-box);
  }
  @include tablet {
    width: 85%;
  }
  @include phone {
    width: 100%;
  }
}

.key-note {
  padding: $dist-reg 0 $dist-reg 0;
  margin: $dist-huge 0 $dist-huge 0;
  position: relative;
  left: 2*$dist-huge;
  @include tablet-phone {
    // because red box is overlapping text
    margin-left: 10px;
    margin-right: 10px;
    left: 0;
  }
}

.round-img {
  @include border-radius(50%);
}

.center-cntnt {
  text-align: center;
}






.author-wrap {
  border-top: 1px solid $primary-grey;
  margin-top: $dist-big;
  padding-top: $dist-reg;

  img {
    margin: $dist-reg 0 $dist-reg 0;
    width: 200px;
    height: 200px;
  }
}