table {
  margin: $dist-reg 0 $dist-reg 0;
  border-collapse: separate;
  border-spacing: 0;
  @include phone {
    table-layout: fixed;
    width: 100%;
  }
}

th {
  font-family: "brandon-grotesque", sans-serif; //weights: 400 (normal/italic), 700, 900
  margin-bottom: $dist-reg;
  font-weight: 700;
  font-size: 16px;
  background-color: $primary-clr;
  color: #fff;
  padding: 4px;
  border: 1.5px solid;
}

th, td {
  padding: 5px;
  padding-left: 8px;
  text-align: left;
}

td {
  padding-left: 12px;
}

.th-row {
  min-width: 120px;
}