// var definitions
$dist-huge: 50px;
$dist-big: 25px;
$dist-reg: 15px;
$dist-small: 8px;

// media query break points
$tablet-width: 768px;
$phone-width: 420px;


// colors
$primary-clr:       #D32638;
$scnd-clr:          #9F98B0;
$primary-grey:      #D5D5D5;
$dark-elem:         #010101;
$bright-clr:        #E4E4E4;

// mixins
@mixin tablet {
  @media (min-width: #{$phone-width + 1px}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet-phone {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}


// import compass
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "reset";
@import "general";
@import "typography";
@import "tables";


