html {
    height: 100%;
}

body {
        background-color: $clr-primary;
        // background-color: #53BEB5; // background color for testing semi transparency
        width: 100%;
        height: 100%;
        position: relative;
}

.small-1 { width: 1 * (100% / 5); }
.small-2 { width: 2 * (100% / 5); }
.small-3 { width: 3 * (100% / 5); }
.small-4 { width: 4 * (100% / 5); }
.small-5 { width: 100%; }

@media only screen and (min-width: $width-tablet) {
    .medium-1 { width: 1 * (100% / 5); }
    .medium-2 { width: 2 * (100% / 5); }
    .medium-3 { width: 3 * (100% / 5); }
    .medium-4 { width: 4 * (100% / 5); }
    .medium-5 { width: 5 * (100% / 5); }
}

//clearfix for floating elements -> http://css-tricks.com/all-about-floats/
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
    font-size: 0;
}


// The element at the top of the page right after the fixed navigation bar MUST have sufficient top margin or else it will be covered by the bar

.content {
    height: 100%;
    position: relative;
}


.button {
}

.v-rhythm-adjust {
    margin-top: $baseline-height;
}


section {
    min-height: 19*$baseline-height;
    padding-bottom: 3*$baseline-height;
    @include media("<tablet") {
        min-height: 10*$baseline-height;
    }
}

.video-wrap {
    width: 100%;
    video {
        width: 100%;
    }
    video[poster]{
        width:100%;
        margin-top: -0.6rem; // somehow there was a white edge on top
    }
}

.text-aside-wrap {
    position: relative;
}

.sector-text, .sector-highlight, .sector-illu-text  {
    margin: 0 auto 2*$baseline-height auto;
    width: 90%;
    max-width: 79.0rem;
    position: relative;
}

.sector-illu-text--intro {
    min-height: 15 * $baseline-height; // height of the image;
}

.sector-illu-text--coil {
    min-height: 15 * $baseline-height; // > height of coil img + margin (2 * baseline)
}

.sector-highlight {
    text-align: center;
}

.sector-tiles {
    img {
        float: left;
    }
}

.tiles__img-row {
    margin-bottom: -0.1rem;
    overflow: hidden;
}

.img-full-width-wrap {
    overflow: hidden;
    position: relative;
    margin-bottom: 3 * $baseline-height;
}

.divider-line {
    width: 20.0rem;
    height: 0.1rem;
    margin: 0 auto;
    background-color: $clr-quiet;
    @include media("<600px") {
        margin-bottom: $baseline-height;
    }
}

.illu-wrap {
    float: left;
    position: absolute;
    top: 50%;
}

.illu-wrap--intro {
    margin-top: -(25.5rem / 2); // height of img / 2
    left: -12.0rem; // 50% of the width of the image
}

.illu-wrap--coil {
    margin-top: -(27.1rem / 2) + $baseline-height;
    left: -7.8rem; // 50% of the width of the image
}

.text-by-illu {
    width: calc(90% - 24.0rem + (8*1.7rem));
    float: right;
    position: relative;
    // left: -2 * $baseline-height;
    // padding-left: 3 * $baseline-height;
}

.img-flash {
    margin-bottom: 1.8rem;
    @include media("<600px") {
        display: none;
    }
}

.img-full-width {
    width:  100%;
    height: auto;
}

.img-description {
    z-index: 50;
}

.marg-top-19 { margin-top: 19rem; }
.marg-top-23 { margin-top: 23rem; }
.marg-top-29 { margin-top: 29rem; }

// different distance to previous elements
.dist-to-prev-base      { margin-top: $baseline-height; }// 24px = 1 unit of baseline grid
.dist-to-prev-double    { margin-top: 2 * $baseline-height; } // 48px = 1 unit of baseline grid
.dist-to-prev-triple    { margin-top: 3 * $baseline-height; } // 48px = 1 unit of baseline grid
.dist-to-prev-quad      { margin-top: 4 * $baseline-height; } // 48px = 1 unit of baseline grid

// distance to following element
.dist-to-next-base      { margin-bottom: $baseline-height; }// 24px = 1 unit of baseline grid
.dist-to-next-double    { margin-bottom: 2 * $baseline-height; } // 48px = 1 unit of baseline grid
.dist-to-next-triple    { margin-bottom: 3 * $baseline-height; } // 48px = 1 unit of baseline grid
.dist-to-next-quad      { margin-bottom: 4 * $baseline-height; } // 48px = 1 unit of baseline grid

.dist-to-prev-double--div-line {
    @include media("<600px") {
        margin-top: 0;
    }
}

