// var definitions
$width-content:         96.0rem;     // 960px
$width-logo:            9%;


// media query break points
$width-phone:           420px;
$width-tablet:          768px;
$width-big-tablet:      1024px;
$width-desktop:         1400px;

$breakpoints: (phone: $width-phone, tablet: $width-tablet, big-tablet: $width-big-tablet, desktop: $width-desktop);


// colors
$clr-primary:           #F7F7F7;
$clr-secondary:         #2E2E2D;
$clr-quiet:             #969696;
$clr-link-hover:        #FF3D3D;

$font-family-base:          "brandon-grotesque", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base-bold:     "brandon-grotesque", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base-medium:   "brandon-grotesque", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-text-base:     "ff-meta-serif-web-pro", TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$font-size-base:            62.5%;      // 16px (default) * 0.625 = 10px        _> base 10 to calc easier
// $base-font-weight: 300;
$baseline-height: 1.8rem;

// mixins


@import "../../bower_components/_normalize.scss/normalize";
@import "../../bower_components/include-media/dist/include-media";

// import stylesheets
@import "reset";
@import "typography";
@import "tables";
@import "navigation";
@import "general";
// @import "basehold";


